body {
  width: 800px;  
  margin: auto;
}

.logo {
  background-color: lightcoral;
}

nav {
  background: deeppink;
  display: inline flex;
  position: relative;
  top: -15px; left: 10px;
 
  height: 20px;
}
 

nav a {
  color: white;
  padding-left: 1.4em;
}
nav a:hover {
  background-color: deeppink
}

#details span {
  color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ED1556;
  
}

li {
  width: 200px;
  display: inline;
}

li a {  
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: deeppink
}

#header {
  margin-bottom: 20px;
}

.errors {
  color: #ED1556;
  padding-bottom: 1.0em;
  font-weight: bolder;
}
.form {
  width: 800px;  
  clear: both;
  margin: auto;
}

fieldset div {
  margin-top: 20px;
}

fieldset h2 {
  margin-top: 5px;
  text-align: center;
}

fieldset label {
  margin-top: 10px;
}
.form input {
  width: 100%;
  clear: both;
  padding-left: 2px;
}

.form button { 
  width: 100%;
 clear: both;
 color: #ED1556;
 margin-top: 15px;
/* margin: 20px; */
/* margin-right: 30px;
 float: right;*/
}