<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../styles/style.css">  
  <title>Document</title>
</head>
<body>
 
  <div id="header"></div>
 
  <div class="form">
    <div class="errors"></div>
    <form action="#" class="formBook">
      <fieldset>
        <h2>Datos del Libro</h2>
        <div>
          <label name="title">Titulo:</label>
          <input type="text" id="title" name="title">
          <label name="author">Autor:</label>
          <input type="text" id="author" name="author">
          <br>
          <label name="editorial">Editorial</label>
          <input type="text" id="editorial" name="editorial">

          <label name="isbn">ISBN</label>
          <input type="text" id="isbn" name="isbn">
          <br>
          <label name="available">Nº Disponibles</label>
          <input type="text" id="available" name="available">
          <button type="submit" form="formBook" value="Submit">Enviar</button>
        </div>        
      </fieldset>
      
    </form>
  </div>
  

  <div class="divTable greyGridTable">
    <div class="divTableHeading">
      <div class="divTableRow">
        <div class="divTableHead">Titulo</div>
        <div class="divTableHead">Autor</div>
        <div class="divTableHead">Editorial</div>
        <div class="divTableHead">ISBN</div>
        <div class="divTableHead">Disponibles</div>
      </div>
    </div>
   

  </div>



 
    
  <script src="../scripts/nav.js"></script>
</body>
</html>