<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Gestion de Libros</title>
</head>
<body>
  <div id="header"></div>

  <h1>Listado de Libros Prestados</h1>
  <table>
    <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Editorial</th>
        <th>ISBN</th>
        <th>Nº Disponibles</th>
    </tr>

    <tr>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
    </tr>

    <tr>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
    </tr>
    
    <tr>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
    </tr>

  </table>
  <script src="../scripts/nav.js"></script>
</body>
</html>